<body>
    <header routerLink="/home">Home</header>  
    <app-subdropdown  title="CUSTEMER INTERFACE" [items]="aboutItems">Hello</app-subdropdown>
    <app-subdropdown title="ORDER MANAGEMENT" [items]="servicesItems"></app-subdropdown>
    <app-subdropdown title="TRANSPORTATION AND ASSETS" [items]="partnersItems"></app-subdropdown>
    <app-subdropdown title="WAREHOSEING AND INVENTORY MANAGEMENT" [items]="partnersItems"></app-subdropdown>

    <!-- <a routerLink="/contact">Contact</a> -->
</body>
  
  